:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet"
service.pid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet.9c16e871-0cd1-4096-8d4f-ff83362628b8"
sling.servlet.extensions=[ \
  "GQLschema", \
  "schemaerrors", \
  ]
sling.servlet.methods=[ \
  "GET", \
  ]
sling.servlet.resourceTypes=[ \
  "graphql-enablement/components/endpoint", \
  ]
