:org.apache.felix.configadmin.revision:=L"1"
README="Indicate\ which\ page\ resource\ types\ should\ display\ the\ mobile\ emulators."
mobile.resourceTypes=[ \
  "wknd/components/page", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~wknd"
