:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~com.adobe.ups-imsconfig"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Adobe\ Experience\ Platform\=[ups-imsconfig-service]", \
  "com.adobe.cq.ups-integration:Adobe\ Experience\ Platform\=[ups-imsconfig-service,\ user-reader-service]", \
  "com.adobe.cq.ups-user-utils:Adobe\ Experience\ Platform\=[ups-imsconfig-service,\ user-reader-service]", \
  ]
